﻿@using xpos314.viewmodels
@model VMCustomer
@{
	ViewData["Title"] = "Create Customer";
}
<div class="card mt-4">
	<div class="card-body">
		<h4>@ViewData["Title"]</h4>
		<form asp-action="Create" method="post" id="form_input">
			<div class="form-group row mb-2">
				<label for="NameCustomer" class="col-sm-4 col-form-label">Name Customer</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="NameCustomer" id="NameCustomer" required value="@Model.NameCustomer">
				</div>
			</div>
			<div class="form-group row mb-2">
				<label for="IdRole" class="col-sm-4 col-form-label">Role Name</label>
				<div class="col-sm-8">
					@Html.DropDownList("IdRole",
					new SelectList(ViewBag.ListRole, "Id", "RoleName"),
					"--Pilih Role--",
					new { @class = "form-control" }
					)
				</div>
			</div>
			<div class="form-group row mb-2">
				<label for="Email" class="col-sm-4 col-form-label">Email</label>
				<div class="col-sm-8">
					<input type="email" class="form-control" name="Email" id="Email">
				</div>
			</div>
			<div class="form-group row mb-2">
				<label for="Password" class="col-sm-4 col-form-label">Password</label>
				<div class="col-sm-8">
					<input type="password" class="form-control form-password" name="Password" id="Password" value="@Model.Password">
					<input type="checkbox" class="form-checkbox"> Show password
				</div>
			</div>
			<div class="form-group row mb-2">
				<label for="Address" class="col-sm-4 col-form-label">Address</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="Address" id="Address">
				</div>
			</div>
			<div class="form-group row mb-2">
				<label for="Phone" class="col-sm-4 col-form-label">Phone</label>
				<div class="col-sm-8">
					<input type="number" class="form-control" name="Phone" id="Phone">
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>
					<a class="btn btn-secondary" asp-controller="Customer" asp-action="Index">Back</a>
				</div>
			</div>
		</form>
	</div>
</div>

<script>
	$("#form_input").validate({
		errorClass: "is-invalid text-danger",
		rules: {
			NameCustomer: {
				required: true,
				minlength: 3,
			},
			Email: {
				required: true,
				minlength: 3,
			},
			Password: {
				required: true,
				minlength: 8,
			},
			Address: {
				required: true,
				minlength: 5,
			},
			Phone: "required",
			IdRole: "required",
		},
		messages: {
			NameCustomer: {
				required: "Please fill Name Customer",
				minlength: "The name must consist of at least 3",
			},
			Email: {
				required: "Please fill Email",
				minlength: "The email must consist of at least 3",
			},
			Password: {
				required: "Please fill Password",
				minlength: "The password must consist of at least 8",
			},
			Address: {
				required: "Please fill Address",
				minlength: "The address must consist of at least 5",
			},
			Phone: "Please fill Phone",
			IdRole: "Please Select Role",
		},
		//membuat validasi jika nama kategori sudah ada
		submitHandler: function(form) {
			var dataForm = $(form).serialize()
			$.ajax({
				url: "/Customer/Create",
				data: dataForm,
				method: "post",
				dataType: "json",
				success: function(respon) {
					var data = respon.dataRespon
					if (data.success) {
						$("#myModal").modal("hide")
						toastr.success(
							data.message,
							'',
							{
								timeOut: 500,
								fadeOut: 500,
								onHidden: function() {
									window.location.reload()
								}
							}
						)
					} else {
						toastr.error(data.message)
					}
				}
			})

		}
	});
	$(document).ready(function() {
		$('.form-checkbox').click(function() {
			if ($(this).is(':checked')) {
				$('.form-password').attr('type', 'text');
			} else {
				$('.form-password').attr('type', 'password');
			}
		});
	});
</script>
