﻿@using xpos314.viewmodels
@model VMCustomer
@{
	ViewData["Title"] = "Detail Customer";
}
<div class="card mt-4">
	<div class="card-body">
		<h4>@ViewData["Title"] : @Model.NameCustomer </h4>
		<form asp-action="Create" method="post" id="form_input">
			<div class="form-group row mb-2">
				<label for="NameCustomer" class="col-sm-4 col-form-label">Name Customer</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="NameCustomer" id="NameCustomer" required value="@Model.NameCustomer" readonly>
				</div>
			</div>
			<div class="form-group row mb-2">
				<label for="RoleName" class="col-sm-4 col-form-label">Role Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="RoleName" id="RoleName" required value="@Model.RoleName" readonly>
				</div>
			</div>
			<div class="form-group row mb-2">
				<label for="Email" class="col-sm-4 col-form-label">Email</label>
				<div class="col-sm-8">
					<input type="email" class="form-control" name="Email" id="Email" value="@Model.Email" readonly>
				</div>
			</div>
			<div class="form-group row mb-2">
				<label for="Password" class="col-sm-4 col-form-label">Password</label>
				<div class="col-sm-8">
					<input type="password" class="form-control form-password" name="Password" id="Password" value="@Model.Password" readonly>
					<input type="checkbox" class="form-checkbox"> Show password
				</div>
			</div>
			<div class="form-group row mb-2">
				<label for="Address" class="col-sm-4 col-form-label">Address</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="Address" id="Address" value="@Model.Address" readonly>
				</div>
			</div>
			<div class="form-group row mb-2">
				<label for="Phone" class="col-sm-4 col-form-label">Phone</label>
				<div class="col-sm-8">
					<input type="number" class="form-control" name="Phone" id="Phone" value="@Model.Phone" readonly>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-10">
					<a class="btn btn-secondary" asp-controller="Customer" asp-action="Index">Back</a>
				</div>
			</div>
		</form>
	</div>
</div>
<script>
	$(document).ready(function() {
		$('.form-checkbox').click(function() {
			if ($(this).is(':checked')) {
				$('.form-password').attr('type', 'text');
			} else {
				$('.form-password').attr('type', 'password');
			}
		});
	});
</script>