﻿<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - xpos314.web</title>
	<!-- Favicon icon -->
	<link rel="icon" type="image/png" sizes="16x16" href="~/adminmart/assets/images/favicon.png">
	<title>Adminmart Template - The Ultimate Multipurpose admin template</title>
	<!-- JQuery-->
	<script src="~/adminmart/assets/libs/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/jquery-validation//dist//jquery.validate.js"></script>
	<!-- Custom CSS -->
	<link href="~/adminmart/assets/extra-libs/c3/c3.min.css" rel="stylesheet">
	<link href="~/adminmart/assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
	<link href="~/adminmart/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
	<!-- Custom CSS -->
	<link href="~/adminmart/dist/css/style.min.css" rel="stylesheet">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"/>

</head>
<body>
	<div class="preloader">
		<div class="lds-ripple">
			<div class="lds-pos"></div>
			<div class="lds-pos"></div>
		</div>
	</div>
	<!-- ============================================================== -->
	<!-- Main wrapper - style you can find in pages.scss -->
	<!-- ============================================================== -->
	<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
		 data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
		<partial name="_Header" />
		<partial name="_Sidebar" />

		<div class="page-wrapper">
			<div class="container-fluid">
				<main role="main" class="pb-3">
					@RenderBody()
				</main>
			</div>
		</div>

		<!-- footer -->
		<!-- ============================================================== -->
		<footer class="footer text-center text-muted">
			All Rights Reserved by Adminmart. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a>.
		</footer>
		<!-- ============================================================== -->
		<!-- End footer -->
		<!-- ============================================================== -->
	</div>

	<!-- Modal -->
	<!-- Modal -->
	<div class="modal" tabindex="-1" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body" id="body_modal">
				</div>
			</div>
		</div>
	</div>

	@*modal baru*@
	<!-- Modal -->
    <div class="modal fade" id="modal_sm" tabindex="-1"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-body" id="modal_body_sm">
                    ...
                </div>
            </div>
        </div>
    </div>

    <!--Modal Large-->
    <div class="modal fade" id="modal_lg">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-body" id="modal_body_lg">
                    ...
                </div>
            </div>
        </div>
    </div>

    @*@spinner@*@
    <div class="modal fade" id="modal_load">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center" id="modal_load_body">
                    <div class="spinner-grow text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <h3>Please wait..</h3>
                </div>
            </div>
        </div>
    </div>
	<!-- ============================================================== -->
	<!-- All Jquery -->
	<!-- ============================================================== -->
	<script src="~/adminmart/assets/libs/popper.js/dist/umd/popper.min.js"></script>
	<script src="~/adminmart/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- apps -->
	<!-- apps -->
	<script src="~/adminmart/dist/js/app-style-switcher.js"></script>
	<script src="~/adminmart/dist/js/feather.min.js"></script>
	<script src="~/adminmart/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
	<script src="~/adminmart/dist/js/sidebarmenu.js"></script>
	<!--Custom JavaScript -->
	<script src="~/adminmart/dist/js/custom.min.js"></script>
	<!--This page JavaScript -->
	<script src="~/adminmart/assets/extra-libs/c3/d3.min.js"></script>
	<script src="~/adminmart/assets/extra-libs/c3/c3.min.js"></script>
	<script src="~/adminmart/assets/libs/chartist/dist/chartist.min.js"></script>
	<script src="~/adminmart/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
	<script src="~/adminmart/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js"></script>
	<script src="~/adminmart/assets/extra-libs/jvector/jquery-jvectormap-world-mill-en.js"></script>
	<script src="~/adminmart/dist/js/pages/dashboards/dashboard1.min.js"></script>

</body>
</html>
