﻿@using xpos314.web.Services
@inject AuthService authService
@{
	int IdCustomer = @Context.Session.GetInt32("IdCustomer") ?? 0;
	int IdRole = @Context.Session.GetInt32("IdRole") ?? 0;
	string NameCustomer = @Context.Session.GetString("NameCustomer") ?? "";
	var menus = await authService.MenuAccess(IdRole);
}

<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar" data-sidebarbg="skin6">
	<div class="scroll-sidebar" data-sidebarbg="skin6">
		<!-- Sidebar Menu -->
		<nav class="sidebar-nav">
			<ul id="sidebarnav">
				@*<li class="sidebar-item">
				<a class="sidebar-link sidebar-link" href="~/Home/Index"
				aria-expanded="false">
				<i data-feather="home" class="feather-icon"></i><span class="hide-menu">Dashboard</span>
				</a>
				</li>*@
				<li class="list-divider"></li>
				@foreach (var parent in menus)
				{

					<li class="sidebar-item">
						<a asp-controller="@parent.MenuController" asp-action="@parent.MenuAction" class="sidebar-link">
							<i class="feather-icon" data-feather="@parent.MenuIcon"></i>
							<span class="hide-menu">
								@parent.MenuName
							</span>
						</a>
					</li>

				}
				@if (IdCustomer != 0)
				{
					<li class="list-divider"></li>
					<li class="sidebar-item">
						<a class="sidebar-link sidebar-link" asp-controller="Auth" asp-action="Logout"
					   aria-expanded="false">
							<i data-feather="log-out" class="feather-icon"></i><span class="hide-menu">Logout</span>
						</a>
					</li>
				}
				@*<div class="scroll-sidebar" data-sidebarbg="skin6">
				<nav class="sidebar-nav">
				<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">*@
				<!-- Add icons to the links using the .nav-icon class
					 with font-awesome or any other icon font library -->
				@*	@foreach (var parent in menus)
				{
				<li class="sidebar-item">
				<a asp-controller="@parent.MenuController" asp-action="@parent.MenuAction" class="sidebar-link">
				<i class="@parent.MenuIcon feather-icon"></i>
				<p>@parent.MenuName</p>
				</a>
				</li>
				}
				@if (IdCustomer != 0)
				{
				<li class="list-divider"></li>
				<li class="sidebar-item">
				<a class="sidebar-link sidebar-link" asp-controller="Auth" asp-action="Logout"
				aria-expanded="false">
				<i data-feather="log-out" class="feather-icon"></i><span class="hide-menu">Logout</span>
				</a>
				</li>
				}*@

				@*@foreach (var parent in menus)
				{
				<li class="nav-item menu-open">
				<a href="#" class="nav-link">
				<i class="nav-icon @parent.MenuIcon"></i>
				<p>
				@parent.MenuName
				<i class="right fas fa-angle-left"></i>
				</p>
				</a>
				<ul class="nav nav-treeview">

				@foreach (var child in parent.ListChild)
				{
				<li class="nav-item">
				<a asp-controller="@child.MenuController" asp-action="@child.MenuAction" class="nav-link">
				<i class="@child.MenuIcon nav-icon"></i>
				<p>@child.MenuName</p>
				</a>
				</li>
				}
				</ul>
				</li>
				}*@

			</ul>
		</nav>
		<!-- /.sidebar-menu -->
		<!-- Sidebar scroll-->
		@*<div class="scroll-sidebar" data-sidebarbg="skin6">
		<!-- Sidebar navigation-->
		@if (IdCustomer != 0)
		{

		<nav class="sidebar-nav">
		<ul id="sidebarnav">
		<li class="sidebar-item">
		<a class="sidebar-link sidebar-link" href="~/Home/Index"
		aria-expanded="false">
		<i data-feather="home" class="feather-icon"></i><span class="hide-menu">Dashboard</span>
		</a>
		</li>
		<li class="list-divider"></li>
		<li class="nav-small-cap"><span class="hide-menu">Master</span></li>

		<li class="sidebar-item">
		<a class="sidebar-link" asp-action="Index" asp-controller="Friend"
		aria-expanded="false">
		<i data-feather="tag" class="feather-icon"></i><span class="hide-menu">
		Friends
		</span>
		</a>
		</li>
		<li class="sidebar-item">
		<a class="sidebar-link sidebar-link" asp-action="Index" asp-controller="CategoryTry"
		aria-expanded="false">
		<i data-feather="message-square" class="feather-icon"></i><span class="hide-menu">Category Try</span>
		</a>
		</li>
		<li class="sidebar-item">
		<a class="sidebar-link sidebar-link" asp-action="Index" asp-controller="VariantTry"
		aria-expanded="false">
		<i data-feather="message-square" class="feather-icon"></i><span class="hide-menu">Variant Try</span>
		</a>
		</li>
		<li class="sidebar-item">
		<a class="sidebar-link sidebar-link" asp-action="Index" asp-controller="Category"
		aria-expanded="false">
		<i data-feather="message-square" class="feather-icon"></i><span class="hide-menu">Kategori</span>
		</a>
		</li>
		<li class="sidebar-item">
		<a class="sidebar-link sidebar-link" asp-action="Index" asp-controller="Variant"
		aria-expanded="false">
		<i data-feather="message-square" class="feather-icon"></i><span class="hide-menu">Variant</span>
		</a>
		</li>
		<li class="sidebar-item">
		<a class="sidebar-link sidebar-link" asp-action="Index" asp-controller="Product"
		aria-expanded="false">
		<i data-feather="message-square" class="feather-icon"></i><span class="hide-menu">Product</span>
		</a>
		</li>

		<li class="list-divider"></li>
		<li class="nav-small-cap"><span class="hide-menu">Menu Kalbe</span></li>
		<li class="sidebar-item">
		<a class="sidebar-link sidebar-link" asp-action="Index" asp-controller="Produk"
		aria-expanded="false">
		<i data-feather="message-square" class="feather-icon"></i><span class="hide-menu">Product Kalbe</span>
		</a>
		</li>
		<li class="sidebar-item">
		<a class="sidebar-link sidebar-link" asp-action="Index" asp-controller="CustomerKalbe"
		aria-expanded="false">
		<i data-feather="message-square" class="feather-icon"></i><span class="hide-menu">Costumer Kalbe</span>
		</a>
		</li>
		<li class="sidebar-item">
		<a class="sidebar-link sidebar-link" asp-action="Index" asp-controller="PenjualanKalbe"
		aria-expanded="false">
		<i data-feather="message-square" class="feather-icon"></i><span class="hide-menu">Penjualan Kalbe</span>
		</a>
		</li>

		<li class="list-divider"></li>
		<li class="nav-small-cap"><span class="hide-menu">User Configuration</span></li>
		<li class="sidebar-item">
		<a class="sidebar-link sidebar-link" asp-action="Index" asp-controller="Role"
		aria-expanded="false">
		<i data-feather="message-square" class="feather-icon"></i><span class="hide-menu">Role</span>
		</a>
		</li>
		<li class="sidebar-item">
		<a class="sidebar-link sidebar-link" asp-action="Index" asp-controller="Customer"
		aria-expanded="false">
		<i data-feather="message-square" class="feather-icon"></i><span class="hide-menu">Costumer</span>
		</a>
		</li>

		<li class="list-divider"></li>
		<li class="nav-small-cap"><span class="hide-menu">Transaction</span></li>

		<li class="sidebar-item">
		<a class="sidebar-link" asp-controller="Order" asp-action="Catalog"
		aria-expanded="false">
		<i data-feather="book-open" class="feather-icon"></i>
		<span class="hide-menu">Menu Catalog</span>
		</a>
		</li>
		<li class="sidebar-item">
		<a class="sidebar-link sidebar-link" asp-controller="Order" asp-action="HistoryOrder"
		aria-expanded="false">
		<i data-feather="clipboard" class="feather-icon"></i>
		<span class="hide-menu">History Order</span>
		</a>
		</li>

		<li class="list-divider"></li>
		<li class="sidebar-item">
		<a class="sidebar-link sidebar-link" asp-controller="Auth" asp-action="Logout"
		aria-expanded="false">
		<i data-feather="log-out" class="feather-icon"></i><span class="hide-menu">Logout</span>
		</a>
		</li>
		</ul>
		</nav>
		}*@
		<!-- End Sidebar navigation -->
	</div>
	<!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->