﻿﻿@using xpos314.viewmodels
@model VMTblVariant
@{
	Layout = null;
	ViewData["Title"] = "Detail Variant";
}
<div class="card">
	<div class="card-header d-lg-flex">
		<h3 class="card-title font-weight-bold mr-2 mt-2">@ViewData["Title"] : @Model.NameVariant</h3>
	</div>
	<div class="card-body">
		<div class="form-group row mb-2">
			<label for="NameVariant" class="col-sm-4 col-form-label">Name Variant</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" name="NameVariant" id="NameVariant" value="@Model.NameVariant" readonly>
				<span class="text-danger" asp-validation-for="NameVariant"></span>
			</div>
		</div>
		<div class="form-group row mb-2">
			<label for="IdCategory" class="col-sm-4 col-form-label">Name Category</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" name="NameCategory" id="NameCategory" value="@Model.NameCategory" readonly>
			</div>
		</div>
		<div class="form-group row mb-2">
			<label for="Description" class="col-sm-4 col-form-label">Description</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" name="Description" id="Description" value="@Model.Description" readonly>
			</div>
		</div>
	</div>
</div>
