﻿﻿@using xpos314.viewmodels
@model VMTblVariant
@{
	Layout = null;
	ViewData["Title"] = "Edit Variant Try";
}
<div class="card mt-4">
	<div class="card-body">
		<h4>@ViewData["Title"] : @Model.NameVariant"</h4>
		<form asp-action="Edit" method="POST" id="form_input">
			<input type="hidden" id="Id" name="Id" value="@Model.Id" />
			<div class="form-group row mb-2">
				<label for="NameVariant" class="col-sm-4 col-form-label">Name Variant</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="NameVariant" id="NameVariant" required value="@Model.NameVariant" />
					@*<span class="text-danger" asp-validation-for="NameVariant"></span>*@
				</div>
			</div>
			<div class="form-group row mb-2">
				<label for="IdCategory" class="col-sm-4 col-form-label">Name Category</label>
				<div class="col-sm-8">
					@Html.DropDownList("IdCategory",
					new SelectList(ViewBag.dropDownCategory, "Id", "NameCategory"),
					"--Pilih Kategori--",
					new { @class = "form-control" }
					)
					@*<span class="text-danger" asp-validation-for="IdCategory"></span>*@
				</div>
			</div>
			<div class="form-group row mb-2">
				<label for="Description" class="col-sm-4 col-form-label">Description</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="Description" id="Description" value="@Model.Description" />
				</div>
			</div>
			<div class="form-group row">
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Submit</button>
					<a class="btn btn-secondary" asp-controller="VariantTry" asp-action="Index">Back</a>
				</div>
			</div>
		</form>
	</div>
</div>

<script>
	$("#form_input").validate({
		errorClass: "text-danger",
		rules: {
			NameVariant: {
				required: true,
				minlength: 3,
			},
			IdCategory: {
				required: true,
			},
			Description: {
				required: true,
				minlength: 5,
			}
		},
		messages: {
			NameVariant: {
				required: "Please fill Name Variant",
				minlength: "The name must consist of at least 3",
			},
			IdCategory: {
				required: "Please choose Name Category",
			},
			NameVariant: {
				required: "Please fill description",
				minlength: "The name must consist of at least 5",
			},
		}
	})
</script>
