﻿﻿@using xpos314.datamodels
@model TblCategory
@{
	ViewData["Title"] = "Create Category";
}
<div class="card mt-4">
	<div class="card-body">
		<h4>@ViewData["Title"]</h4>
		<form asp-action="Create" method="post" id="
">
			<div class="form-group row mb-2">
				<label for="NameCategory" class="col-sm-4 col-form-label">Name Category</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="NameCategory" id="NameCategory" value="@Model.NameCategory">
					<span id="NameCategory" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group row mb-2">
				<label for="Description" class="col-sm-4 col-form-label">Description</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="Description" id="Description">
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>
					<a class="btn btn-secondary" asp-controller="Category" asp-action="Index">Back</a>
				</div>
			</div>
		</form>
	</div>
</div>

<script>
	$("#form_input").validate({
		errorClass: "text-danger",
		rules: {
			NameCategory: {
				required: true,
				minlength: 5,
			},
			Description: {
				required: true,
				minlength: 5,
			}
		},
		messages: {
			NameCategory: {
				required: "Please fill Name Variant",
				minlength: "The name must consist of at least 5",
			},
			Description: {
				required: "Please fill description",
				minlength: "The name must consist of at least 5",
			},
		},
		//membuat validasi jika nama kategori sudah ada
		submitHandler: function(form) {
			var dataForm = $(form).serialize()
            console.log(dataForm);

			var nameCategory = $("#NameCategory").val()

			$.ajax({
				url: "/Category/CheckNameIsExist",
				type: "get",
				data: { nameCategory: nameCategory },
				dataType: "json",
				success: function(respon) {
					if (respon) {
						$("#NameCategory").text("Name Category is Already Exists")
						return true;
					} else {
						fungsiSubmit(dataForm)
					}
				}
			})
		}
	});
	function fungsiSubmit(dataParam) {
		$.ajax({
			url: "/Category/Create",
			data: dataParam,
			method: "post",
			dataType: "json",
			success: function(respon) {
				var data = respon.dataRespon
				if (data.success) {
					$("#myModal").modal("hide")
					//toastr.success(data.message)
					//window.location.reload()
					toastr.success(
						data.message,
						'',
                        {
							timeOut : 500,
							fadeOut : 500,
                            onHidden: function() {
								window.location.reload()
							}
						}
					)
				} else {
					//Toast.fire({
					//	icon: "Failed",
					//	title: data.message
					//})
					toastr.error(data.message)
				}
			}
		})
	};
</script>
