﻿﻿@using xpos314.datamodels
@model TblCategory
@{
	ViewData["Title"] = "Detail Category";
}
@*<div class="modal-header">
	<h5 class="modal-title">Modal title</h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>*@
<div class="card mt-4">
	<div class="card-body">
		<h4>@ViewData["Title"] : @Model.NameCategory</h4>
		<form asp-action="Edit" method="post" id="form_input">
			<div class="form-group row mb-2">
				<input type="hidden" id="Id" name="Id" value="@Model.Id" />

				<label for="NameCategory" class="col-sm-4 col-form-label">Name Category</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="NameCategory" id="NameCategory" value="@Model.NameCategory" readonly>
				</div>
			</div>
			<div class="form-group row mb-2">
				<label for="Description" class="col-sm-4 col-form-label">Description</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="Description" id="Description" value="@Model.Description" readonly>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-10">
					<a class="btn btn-secondary" asp-controller="Category" asp-action="Index">Back</a>
				</div>
			</div>
		</form>
	</div>
</div>

<script>
	$("#form_input").validate({
		errorClass: "text-danger",
		rules: {
			NameCategory: {
				required: true,
				minlength: 5,
			},
			Description: {
				required: true,
				minlength: 5,
			}
		},
		messages: {
			NameCategory: {
				required: "Please fill Name Variant",
				minlength: "The name must consist of at least 5",
			},
			Description: {
				required: "Please fill description",
				minlength: "The name must consist of at least 5",
			},
		},
		//membuat validasi jika nama kategori sudah ada
		submitHandler: function(form) {
			var dataForm = $(form).serialize()
			console.log(dataForm);

			var nameCategory = $("#NameCategory").val()

			$.ajax({
				url: "/Category/CheckNameIsExist",
				type: "get",
				data: { nameCategory: nameCategory },
				dataType: "json",
				success: function(respon) {
					if (respon) {
						$("#NameCategoryValidate").text("Name Category is Already Exists")
						return true;
					} else {
						fungsiSubmit(dataForm)
					}
				}
			})
		}
	});
	function fungsiSubmit(dataParam) {
		$.ajax({
			url: "/Category/Detail",
			data: dataParam,
			method: "post",
			dataType: "json",
			success: function(respon) {
				var data = respon.dataRespon
				if (data.success) {
					$("#myModal").modal("hide")
					//toastr.success(data.message)
					window.location.reload()
				} else {
					Toast.fire({
						icon: "Failed",
						title: data.message
					})
					//toastr.error(data.message)
				}
			}
		})
	};
</script>
