﻿@using xpos314.datamodels
@model xpos314.viewmodels.PaginationList<TblCategory>

<h3>Category</h3>


<div class="card">
	<div class="card-header">
		@*        <button id="btn_create" class="btn btn-primary">Create</button>*@
		<form asp-action="Index" asp-route-pageSize="@ViewBag.CurrentPageSize">
			<div class="row mb-3">
				<div class="col-12">
					<div class="d-flex justify-content-between">
						<button type="button" class="btn btn-primary" id="btn_create" style="color:white; border-radius:5px;">
							Create
						</button>

						<div class="input-group w-50">
							<input type="text" class="form-control" id="searchString" name="searchString"
								   value="@ViewBag.currentFilter" placeholder="Search..." />
							<div class="input-group-prepend">
								<div class="input-group-text" style="cursor:pointer" id="btn_search"><i class="fas fa-search"></i></div>
							</div>
							<div class="input-group-prepend">
								<div class="input-group-text" style="cursor:pointer" id="btn_reset"><i class="fas fa-redo"></i></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		@*<div class="card-tools">
		<form asp-action="Index" asp-route-pageSize="@ViewBag.CurrentPageSize">
		<div class="input-group input-group-sm" style="width: 150px;">
		<input type="text" name="searchString" value="@ViewBag.CurrentFilter" class="form-control float-right" placeholder="Search">

		<div class="input-group-append">
		<button type="submit" class="btn btn-default" title="search">
		<i class="fas fa-search"></i>
		</button>
		<a class="btn btn-default" asp-action="Index" title="reset">
		<i class="fas fa-redo"></i>
		</a>
		</div>
		</div>
		</form>
		</div>*@
		<!-- /.card-header -->
		<div class="card-body table-responsive p-0">
			<table class="table table-hover mb-3">
				<thead>
					<tr>
						<th>
							<a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSort">
								<i class="fas fa-sort"></i>
								Name Category
							</a>
						</th>
						<th>Description</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					@if (Model.Count != 0)
					{
						@foreach (var item in Model)
						{
							<tr>
								<td>@item.NameCategory</td>
								<td>@item.Description</td>

								<td>
									<a class="btn btn-primary btn_detail" dataid="@item.Id">Detail</a>
									<a class="btn btn-warning btn_edit" dataid="@item.Id"><i style="color:white;" data-feather="edit"></i></a>
									<a class="btn btn-danger btn_delete" dataid="@item.Id"> <i style="color:white;" data-feather="trash"></i></a>
								</td>

							</tr>
						}
					}
					else
					{
						<tr>
							<td colspan="3">
								<i>Data not found</i>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		<!-- /.card-body -->

		<div class="card-footer">
			@{
				var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
				var nextDisabled = !Model.HasNextPage ? "disabled" : "";
			}
			<div class="row">
				<div class="col-2">

					<form asp-action="Index" id="form_pagesize">
						@*submitnya menggunakan jquery*@
						<select name="PageSize" id="PageSize"
								class="form-control">
							<option value="3">3</option>
							<option value="5">5</option>
							<option value="10">10</option>
						</select>
					</form>
				</div>
				<div class="col-10">
					<div class="">Entries From @Model.TotalData data</div>
					<div class="">Page @Model.PageIndex of @Model.TotalPages</div>
					<div class="col-12 d-flex justify-content-end">
						<div class="justify-content-between">

						<a asp-action="Index"
						   asp-route-sortOrder="@ViewBag.CurrentSort"
						   asp-route-pageNumber="@(Model.PageIndex + 1)"
						   asp-route-currentFilter="@ViewBag.CurrentFilter"
						   asp-route-pageSize="@ViewBag.CurrentPageSize"
						   class="btn btn-info float-right @nextDisabled">
							Next
						</a>
						
						<a asp-action="Index"
						   asp-route-sortOrder="@ViewBag.CurrentSort"
						   asp-route-pageNumber="@(Model.PageIndex - 1)"
						   asp-route-currentFilter="@ViewBag.CurrentFilter"
						   asp-route-pageSize="@ViewBag.CurrentPageSize"
						   class="btn btn-info float-right @prevDisabled">
							Previous
						</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<script>
	$(document).ready(function() {
		$("#select_show").val(@ViewBag.currentShowData);
		//$(".show-toast").click(function() {
		//          toastr.success("Berhasil");
		//          //alert("Berhasil");
		//	//$("#myToast").toast('show');
		//});

		$("#btn_toast").click(function() {
			toastr.success("Berhasil")
		});

		$("#btn_create").click(function() {
			$(".modal-body").empty()
			$(".modal-body").load("/Category/Create")
			$("#myModal").modal("show")
		});

		$(".btn_detail").click(function() {
			var id = $(this).attr("dataid")
			$(".modal-body").empty();
			$(".modal-body").load("/Category/Detail?id=" + id)
			$("#myModal").modal("show");
		});

		$(".btn_edit").click(function() {
			var id = $(this).attr("dataid")
			$(".modal-body").empty();
			$(".modal-body").load("/Category/Edit?id=" + id)
			$("#myModal").modal("show");
		});

		$(".btn_delete").click(function() {
			var id = $(this).attr("dataid");
			$(".modal-body").empty();
			$(".modal-body").load("/Category/Delete?id=" + id)
			$("#myModal").modal("show");
		});

		$("#PageSize").val(@ViewBag.CurrentPageSize)

		$("#PageSize").change(function() {
			$("#form_pagesize").submit();
		})

	});
</script>