﻿@using xpos314.viewmodels
@model VMTblProduct

@{
	//Layout = null;
	ViewData["Title"] = "Delete Variant";
}

<div class="card">
	<div class="card-body">
		<form asp-action="SureDelete" method="post">
			<input type="hidden" id="Id" name="Id" value="@Model.Id" />

			<h3>Are you sure for delete @Model.NameProduct?</h3>
			<img src="~/images/@Model.Image" style="width:105px; height:100px; border-radius:10px;" />


			<div class="modal-footer">
				<button type="submit" class="btn btn-primary">Yes</button>
				<a asp-action="Index" class="btn btn-secondary">Back to List</a>
			</div>
		</form>
	</div>
</div>

