﻿@using xpos314.viewmodels
@model VMTblProduct
@{
	ViewData["Title"] = "Detail Product";
}
<div class="card mt-4">
	<div class="card-body">
		<h4>@ViewData["Title"]</h4>
			<input type="hidden" id="Id" name="Id" value="@Model.Id" />
			<div class="form-group row mb-2">
				<label for="NameProduct" class="col-sm-4 col-form-label">Name Product</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="NameProduct" id="NameProduct" required value="@Model.NameProduct" readonly>
				</div>
			</div>
			<div class="form-group row mb-2">
				<label for="IdCategory" class="col-sm-4 col-form-label">Name Category</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="NameCategory" id="NameCategory" required value="@Model.NameCategory" readonly>
				</div>
			</div>
			<div class="form-group row mb-2">
				<label for="IdVariant" class="col-sm-4 col-form-label">Name Variant</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="NameVariant" id="NameVariant" required value="@Model.NameVariant" readonly>
				</div>
			</div>

			<div class="form-group row mb-2">
				<label for="Price" class="col-sm-4 col-form-label">Price</label>
				<div class="col-sm-8">
					<input readonly type="text" class="form-control" name="Price" id="Price" value="@Model.Price" />
				</div>
			</div>
			<div class="form-group row mb-2">
				<label for="Stock" class="col-sm-4 col-form-label">Stock</label>
				<div class="col-sm-8">
					<input readonly type="text" class="form-control" name="Stock" id="Stock" value="@Model.Stock">
				</div>
			</div>
			<div class="form-group row mb-2">
				<label for="ImageFile" class="col-sm-4 col-form-label">Image</label>
				<div class="col-sm-8">
					@{
					string image = (@Model.Image!.Replace(@Model.Image!.Split('_')[0],"")).Substring(1);
					if (@Model.Image != null)
					{
					<img src="~/images/@Model.Image" style="width:105px; height:100px; border-radius:10px;" />
					<input readonly type="text" class="form-control" name="Image" id="Image" value="@image"/>
					}
					}
					@*<input readonly type="text" class="form-control" name="Image" id="Image" value="@Model.Image"/>*@
					@*<img src="~/images/@Model.Image" style="width:105px; height:100px; border-radius:10px; margin-top:10px;" />*@
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-10">
					<a class="btn btn-secondary" asp-controller="Product" asp-action="Index">Back</a>
				</div>
			</div>
	</div>
</div>
