﻿﻿@using xpos314.datamodels
@model Produk
@{
	ViewData["Title"] = "Create Product Kalbe";
}
<div class="card mt-4">
	<div class="card-body">
		<h4>@ViewData["Title"]</h4>
		<form asp-action="Create" method="post" id="form_input">
			<div class="form-group row mb-2">
				<label for="ProductName" class="col-sm-4 col-form-label">Product Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="ProductName" id="ProductName" value="@Model.ProductName"/>
					<span id="ProductNameValidate" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group row mb-2">
				<label for="Quantity" class="col-sm-4 col-form-label">Quantity</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="Quantity" id="Quantity" value="@Model.Quantity" >
				</div>
			</div>
			<div class="form-group row mb-2">
				<label for="Price" class="col-sm-4 col-form-label">Price</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="Price" id="Price" value="@Model.Price" >
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>
					<a class="btn btn-secondary" asp-controller="Produk" asp-action="Index">Back</a>
				</div>
			</div>
		</form>
	</div>
</div>

<script>
	$("#form_input").validate({
		errorClass: "text-danger",
		rules: {
			ProductName: {
				required: true,
				minlength: 5,
			},
		},
		messages: {
			ProductName: {
				required: "Please fill Product Name",
				minlength: "The name must consist of at least 5",
			},
			
		},
		//membuat validasi jika nama kategori sudah ada
		submitHandler: function(form) {
            var dataForm = $(form).serialize();
            var productName = $("#ProductName").val();

			$.ajax({
				url: "/Produk/CheckNameIsExist",
				type: "get",
				data: {productName:productName},
				dataType: "json",
				success: function(respon) {
					if (respon) {
						$("#ProductNameValidate").text("Name Product is Already Exists")
						return true;
					} else {
						fungsiSubmit(dataForm)
					}
				}
			})
		}
	});
	function fungsiSubmit(dataParam) {
		$.ajax({
			url: "/Produk/Create",
			data: dataParam,
			method: "post",
			dataType: "json",
			success: function(respon) {
				var data = respon.dataRespon
				if (data.success) {
					$("#myModal").modal("hide")
					toastr.success(
						data.message,
						'',
                        {
							timeOut : 500,
							fadeOut : 500,
                            onHidden: function() {
								window.location.reload()
							}
						}
					)
				} else {
					toastr.error(data.message)
				}
			}
		})
	};
</script>
