﻿@using xpos314.viewmodels
@model VMRole
@{
	ViewData["Title"] = "Edit Role";
}
<div class="card mt-4">
	<div class="card-body">
		<h4>@ViewData["Title"]</h4>
		<form asp-action="Edit" method="post" id="form_input" enctype="multipart/form-data">
			<input type="hidden" id="Id" name="Id" value="@Model.Id" />
			<div class="form-group row mb-2">
				<label for="RoleName" class="col-sm-4 col-form-label">Role Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="RoleName" id="RoleName" required value="@Model.RoleName">
					<span id="NameRoleValidate" class="text-danger"></span>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>
					<a class="btn btn-secondary" asp-controller="Role" asp-action="Index">Back</a>
				</div>
			</div>
		</form>
	</div>
</div>

<script>
	$("#form_input").validate({
		errorClass: "text-danger",
		rules: {
			RoleName: {
				required: true,
				minlength: 5,
			},
		},
		messages: {
			RoleName: {
				required: "Please fill Name Variant",
				minlength: "The name must consist of at least 5",
			}
		},
		//membuat validasi jika nama kategori sudah ada
		submitHandler: function(form) {
			var dataForm = $(form).serialize()
			console.log(dataForm);

			var roleName = $("#RoleName").val()

			$.ajax({
				url: "/Role/CheckNameIsExist",
				type: "get",
				data: { roleName: roleName },
				dataType: "json",
				success: function(respon) {
					if (respon) {
						$("#NameRoleValidate").text("Name Role is Already Exists")
						return true;
					} else {
						fungsiSubmit(dataForm)
					}
				}
			})
		}
	});
	function fungsiSubmit(dataParam) {
		$.ajax({
			url: "/Role/Edit",
			data: dataParam,
			method: "post",
			dataType: "json",
			success: function(respon) {
				var data = respon.dataRespon
				if (data.success) {
					$("#myModal").modal("hide")
					toastr.success(
						data.message,
						'',
						{
							timeOut: 500,
							fadeOut: 500,
							onHidden: function() {
								window.location.reload()
							}
						}
					)
				} else {
					toastr.error(data.message)
				}
			}
		})
	};
</script>

