﻿@using xpos314.viewmodels
@model VMTblVariant
@{
	ViewData["Title"] = "Detail Variant";
}
<div class="card mt-4">
	<div class="card-body">
		<h4>@ViewData["Title"] : @Model.NameCategory</h4>
		<form asp-action="Edit" method="post" id="form_input">
			<div class="form-group row mb-2">

				<label for="NameCategory" class="col-sm-4 col-form-label">Name Variant</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="NameVariant" id="NameVariant" value="@Model.NameVariant" readonly>
				</div>
			</div>
			<div class="form-group row mb-2">

				<label for="NameCategory" class="col-sm-4 col-form-label">Name Category</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="NameCategory" id="NameCategory" value="@Model.NameCategory" readonly>
				</div>
			</div>
			<div class="form-group row mb-2">
				<label for="Description" class="col-sm-4 col-form-label">Description</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="Description" id="Description" value="@Model.Description" readonly>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-10">
					<a class="btn btn-secondary" asp-controller="Variant" asp-action="Index">Back</a>
				</div>
			</div>
		</form>
	</div>
</div>

