﻿@{
	ViewData["Title"] = "Home Page";
}
@{
	int IdCustomer = @Context.Session.GetInt32("IdCustomer") ?? 0;
	string NameCustomer = @Context.Session.GetString("NameCustomer") ?? "";


	if (IdCustomer != 0)
	{
		<div class="text-center">
			<h3>Hello,<span class="text-dark">@NameCustomer</span> </h3> 
			<h1 class="display-4">Welcome</h1>
			<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
		</div>
	}
	else
	{
		<div class="text-center">
			<h1 class="display-4">Welcome</h1>
			<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
		</div>
	}
}

