﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Create Friend";
}

<div class="container col-md-6 mt-4">
	<h2 class="h4 mb-4">Create From Friend</h2>

	<form action="Create" method="post">
		<div class="form-group row">
			<label for="Id" class="col-sm-2 col-form-label">ID</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="Id" name="Id">
			</div>
		</div>
		<div class="form-group row">
			<label for="Name" class="col-sm-2 col-form-label">Name</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="Name" name="Name">
			</div>
		</div>
		<div class="form-group row">
			<label for="Address" class="col-sm-2 col-form-label">Address</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="Address" name="Address">
			</div>
		</div>
		<div class="form-group row mt-2">
			<div class="col-sm-10 ">
				<div class="d-flex justify-content-between">

					<button type="submit" class="btn btn-primary">Submit</button>
					<a class="btn btn-light" asp-controller="Friend" asp-action="Index">Back to List Friend</a>
				</div>
			</div>
		</div>
	</form>
</div>