﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Friend
@{
	ViewData["Title"] = "Delete Friend";
}

<div class="mb-5 h3">
	Are you sure delte this data ?
	<table class="table table-hover table-striped">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Name</th>
				<th scope="col">Address</th>
			</tr>
		</thead>
		<tbody>
			
				<tr>
					<th scope="row">@Model.Id</th>
					<td>@Model.Name</td>
					<td>@Model.Address</td>
				</tr>
			
		</tbody>
	</table>
</div>

<form action="Delete" method="post">
	<div>
		<button type="submit" class="btn btn-danger" asp-route-id="@Model.Id">Yes</button>
		<a class="btn btn-light" asp-controller="Friend" asp-action="Index">No</a>
	</div>
</form>
