﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Detail Friend";

}

<div class="container col-md-6 mt-4">
	<h2 class="h4 mb-4">@ViewData["Title"] : @Model.Name</h2>
	<div class="form-group row">
		<label for="Id" class="col-sm-2 col-form-label">ID</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="Id" name="Id" value="@Model.Id" readonly>
		</div>
	</div>
	<div class="form-group row mt-2 mb-2">
		<label for="Name" class="col-sm-2 col-form-label">Name</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" readonly>
		</div>
	</div>
	<div class="form-group row">
		<label for="Address" class="col-sm-2 col-form-label">Address</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="Address" name="Address" value="@Model.Address" readonly>
		</div>
	</div>
	<div class="form-group row mt-2">
		<div class="col-sm-10 ">
			<div class="d-flex justify-content-between">

				<a class="btn btn-outline-danger" asp-controller="Friend" asp-action="Index">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
						<path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z" />
					</svg> Back to List Friend
				</a>
			</div>
		</div>
	</div>

</div>
