﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Page Friend";
}

<h1 class="display-6 text-center">@ViewData["Title"] (From Return View)</h1>

<a class="btn btn-primary" asp-controller="Friend" asp-action="Create">
	Create
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
		<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
	</svg>
</a>

<table class="table table-hover table-striped mt-2">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Name</th>
			<th scope="col">Address</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (Friend item in Model)
		{
			<tr>
				<th scope="row">@item.Id</th>
				<td>@item.Name</td>
				<td>@item.Address</td>
				<td>
					<a class="btn btn-primary" asp-controller="Friend" asp-action="Detail" asp-route-id="@item.Id">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
							<path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
							<path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
						</svg>
					</a>
					<a class="btn btn-warning" asp-controller="Friend" asp-action="Edit" asp-route-id="@item.Id">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
							<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
							<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
						</svg>
					</a>
					<a class="btn btn-danger" asp-controller="Friend" asp-action="Delete" asp-route-id="@item.Id">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
							<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
							<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
						</svg>
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>

@*<h2>Page Friends (Return ViewBag)</h2>

<table class="table table-hover table-striped">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Name</th>
			<th scope="col">Address</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (Friend item in ViewBag.listFriend)
		{
			<tr>
				<th scope="row">@item.Id</th>
				<td>@item.Name</td>
				<td>@item.Address</td>
				<td>
					<a href="#" class="btn btn-primary">Detail</a>
					<a href="#" class="btn btn-warning">Edit</a>
					<a href="#" class="btn btn-danger">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
*@
@*<button id="tombolWarnaBiru">Submit</button>*@
<br />
@*<button class="tombolWarnaMerah">Batal</button>*@
<style type="text/css">
	.tombolWarnaMerah {
		background-color: darkred;
		color: white;
		border-radius: 7px;
		border: 0px;
		padding: 10px;
		margin-top: 2px;
	}

	#tombolWarnaBiru {
		background-color: cornflowerblue;
		border-radius: 7px;
		padding: 5px;
	}
</style>